.container {
  position: relative;
  border: 1px solid #81c784;
  border-top-width: 0;
  background: transparent;
  margin: 10px;
  padding: 20px 10px 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.focus {
  border-color: #43a047;
  background: #c8e6c9;
}

.label {
  position: absolute;
  top: -5px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #333;
}

.focus .label {
  color: #43a047;
}

.input {
  display: block;
  width: 100%;
  text-align: center;
}
