.container {
  width: 100%;
  height: 100%;
}

.scrollArea {
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: grab;
  user-select: none;
}

.dragging {
  cursor: grabbing;
}

.scrollContainerInner {
  min-width: 100vw;
  min-height: 100vh;
  padding: 100px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
